# MacOSX
*.m~
*.DS_Store

# Latex
*.aux
*.bbl
*.blg
*.ilg
*.log
*.nlo
*.nls
*.out
*.tex~
*.info
*.bcf
*.run*
*synctex*
*.toc
*.lof
*.lot
*fdb*
*.acn
*.glo
*.idx
*.ist
*.fls
*.snm
*.nav
*.gls
*.glg
*.acr
*.alg
*.ind
*.eps

*~
*.brf
*diff*
